@model List<Logistic.DAL.Entities.Transportation>

@if (Model.Count == 0)
{
    <h1>Нет записей</h1>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Тариф
            </th>
            <th>
                Груз
            </th>
            <th>
                Груз (шт)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @item.Rate.Name
                </td>
                <td>
                    @item.Cargo.Name
                </td>
                <td>
                    @item.CargoCount
                </td>
            </tr>
        }
        </tbody>
    </table>
}